<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--设值注入-->
    <bean id="UserServiceImpl" class="com.idark.ioc.injection.service.impl.UserServiceImpl">
    <property name="UserDao" ref="UserDao"></property>
</bean>

    <!--构造注入-->
    <!--<bean id="UserServiceImpl" class="com.idark.ioc.injection.service.impl.UserServiceImpl">-->
        <!--<constructor-arg name="userDao" ref="UserDao"></constructor-arg>-->
    <!--</bean>-->
    <bean id="UserDao" class="com.idark.ioc.injection.dao.UserDao">

    </bean>
</beans>